<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031456933013-pglavir74o7mjtof3dsk9qth7g41gb9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031456933013-pglavir74o7mjtof3dsk9qth7g41gb9d</string>
	<key>API_KEY</key>
	<string>AIzaSyCO0p4g9dqulY3GEYPYEFpBVbEnOzKlLHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1031456933013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ctms</string>
	<key>PROJECT_ID</key>
	<string>ctms-26405</string>
	<key>STORAGE_BUCKET</key>
	<string>ctms-26405.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031456933013:ios:b212e70dddbcce31c6479c</string>
</dict>
</plist>